language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
# script: nosetests -v --with-cov --cov-report html --cov-config .coveragerc  --cov buffet tests/
# script:  nosetests -v --with-coverage --cover-erase --cover-html
script:  nosetests
after_success:
    - coveralls